

.SplashScreenCon{
    width: 100%;
    height: 100%;
    justify-content: "center";
    align-items: center;
    align-content: "center";
  }
  
  .SplashScreenImg{
    width: 100%;
    height:100%;
  }
  .loginMainContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: #2398AB;
    height: 100vh;
    padding: 2% 20% 2% 20%;
  }
  .LogininputMainCon{
    width: 100%;
    border-bottom:solid 1px aliceblue;
    text-align: center;
    border-bottom:0;
    height: auto;
  }
  .inputText{
    width: 100%;
    margin-bottom: 3%;
    border-radius: 2px;
    background-color: #829eab;
    font-size: 10pt;
    padding: 2%;
    border-right-width:0 ;
  }
  .inputText::-webkit-input-placeholder {
    color: aliceblue;
    text-align: center;
  }
  .ButtLogginCon{
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius:5px;
    background-color:blue;
    width:100%;
    height:6%;
    border: 0;
    padding-bottom: 30px;
    margin-top: 10px;

  }
  .enterTextWhite{
    font-family: iransans;
    color: aliceblue;
    font-size: 12pt;
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    margin-top: 2%;
  }
  .searchMiddleMainCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width:90%;
    height:71%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
  }
  .homeMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

  }
  .homeTopNav{
    width: 100%;
    height: 10%;
    background-color:rgba(235,235,235,0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .homeTopNavInner{
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 10%;
    width:100%;
    z-index: 2;
  }
  .defaultTextBlackLarge{
    font-family: iransans;
    font-size: 12pt;
    margin: 0;
    color:#111;
    text-align: center;
  }
  .searchMiddleInerCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-bottom:2%;
    border: solid 1px #0f758c;
    border-radius: 5px;
  }
  .searchMiddleInerPicCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 18%;
    height: 100%;
    /* background-color: red; */
  }
  .searchPicCon{
    width: 100%;
    height: 85%;
  }
  .searchProfileImg{
    width: 100%;
    height: 100%;
    border-radius: 3px;;
  }
  .searchMiddleInerLargeCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 1%;
  }
  .detailMainCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 98%;
    height: auto;
    margin-bottom: 3%;
    margin-top: 2%;
    border-radius: 5px;
    border: solid 1px #0f758c;
  }
  .detailImgCon{
    width: 50%;
    height: auto;
  }
  .detailInterCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 10%;
  }
  .homeIcon{
      width: 20px;
      height: 20px;
      position: relative;
      left: 42%;
      top:10px;
  }
  .spinner{
    margin-left: 48%;
    margin-top: 10%;
  }